.graphContent {
    display: inline-block;
    height: 90vh;

    --slider-width: 39px;
    width: calc(100% - var(--slider-width));
}

.similarityCutoffSlider {
    display: inline-block;
    --graphContent-scale-header-height: 93px;
    --graphContent-scale-footer-height: 40px;
    --slider-header-height: 25px;
    --slider-footer-height: 25px;
    height: calc(90vh - var(--graphContent-scale-header-height) - var(--slider-header-height) - var(--graphContent-scale-footer-height) - var(--slider-footer-height)) !important;
    margin-bottom: calc(var(--graphContent-scale-footer-height) + var(--slider-header-height));
}
